@media (max-width: 767px) {
    .navbar {
        > .container,
        > .container-fluid {
            .navbar-brand {
                margin-left: 35px;                
            }
        }

        .navbar-header {
            display: inline-block;                        
        }

        .nav {
            > li {
                display: inline-block;
            }
        }

        .navbar-nav {
            margin:0;
            float:right;

            .open {
                .dropdown-menu {
                    background-color: #fff;
                    position: absolute;
                    box-shadow:0 2px 10px rgba(0,0,0,0.2);
                }
            }
        }

        .dropdown-menu {
            margin-left: -230px;
        }

        .js-right-sidebar {
            margin-top: 15px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        > .container,
        > .container-fluid {
            .navbar-brand {
                margin-left: 20px;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1169px) {
    .navbar {
        > .container,
        > .container-fluid {
            .navbar-brand {
                margin-left: 20px;
            }
        }
    }
}

@media (min-width: 1170px) and (max-width: 1999px) {
}

@media (min-width: 1200px) {
}
